





#title{
    background-color:#ff4c68;
    color:#fff;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
} 
.container-fluid{
    padding:3% 15% 7%;
}
body{
   
}
p{
    color:#8f8f8f;
}
.big-heading{

    font-size: 3rem;
    line-height:1.5;

}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
    font-weight: bold;

}
.img-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.img-testimonials{
    width:10%;
    border-radius:100%;
    margin:20px;
}
.testimonial-image{
    width:10%;
    border-radius:100%;
    margin:20px;
}
.icon{
    color:#ef8172;
    margin-bottom:1rem;
}
h2{
    
    font-size: 3rem;
    line-height: 1.5;
}
.icon:hover{

    color:#ff4c68;
}
#pricing{
    padding:100px;
}
.pricing-column{
    padding:3%;
    text-align: center;
}
#testimonials{
    
    text-align:center;
    background-color:#ef8172;
    color:#fff;
}
.carousel-item{
    padding:7% 15%;
}
.box-feature{
    text-align:center;
    padding:5%;
    
}
#features{
    padding:7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    
    
}
.tittle-img{
    width:60%;
    transform:rotate(25deg);
position: absolute;
right:30%;
}
.dnld-btn{
    margin:5% 3% 5% 0;
}
.navbar{
    padding:0 0 2.5rem;
}
.nav-item{
 padding:0 18px;    
}
.nav-link{
    font-size:1.2rem;
    font-family: 'Montserrat-light';
}
@media (max-width:1028px){
#title{
    text-align: center;
}
.tittle-img{
    position:static;
    transform: rotate(0);
}
}
#cta{
    background-color: #ff4c68;
    color:#fff;
    text-align: center;
    padding:7% 15%;
}
.cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-size:3.5rem;
    line-height: 1.5;
}
#footer{
    padding : 7% 15%;
    text-align: center;
}
.footer-icon{
    margin: 20px 10px;
}